@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800;
}

/* Accessibility: Focus rings */
input:focus, button:focus {
  @apply outline-none ring-4 ring-usi-gold/50;
}